<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="../css/Style.css">

<title>Recetario de Lud</title>
</head>
<body>
<h1>Cheesecake de oreo</h1>

<img src="../img/Cheesecakeporción.jpeg" 
alt="Foto de Cheesecake" 
width="500"
height="250">

<p>Un postre cremoso y delicioso con base crocante de galletas Oreo, relleno suave de queso crema y trozos de galleta, coronado con más Oreo trituradas para un final irresistible.</p>

<h2>Lista de ingredientes</h2>

<ul>
<li>Un molde de aproximadamente 23 cm de diámetro</li>
<li>34 galletas oreo 
<li>80 gr mantequilla</li>
<li>800 gr queso tipo Philadelphia (en Argentina puede ser el Finlandia Clásico)
<li>80 gr azúcar normal</li>
<li>400 gr crema de leche / nata para montar</li>
<li>100 ml leche</li>
<li>1 sobre gelatina neutra sin sabor</li>
</li>
</li></ul>

<h2>Paso a paso de preparación</h2>
<ol><li>Para empezar, sacamos el relleno de las galletas, ponemos por un lado las galletas y por otro el relleno
<li>Para la cobertura. Trituramos finamente las galletas y reservamos</li>
<li>Para el relleno. Derretimos la manteca, luego la mezclamos con más de la mitad de cantidad de galletas trituradas (tiene que sobrar para luego poner en la cobertura exterior)
<li>Ponemos la mezcla sobre el molde dejando como si fuese un piso, reservamos en le heladera mientras continuamos con el relleno.
<li>En una olla grande a fuego medio echamos la crema del relleno de las galletas, el queso, el azúcar y comenzamos a revolver
<li>Cuando ya conseguimos una mezcla homogénea aunque tenga grumos, le echamos la leche, luego la gelatina
<li>Incorporamos la crema/nata de montar en un bol, le echamos media taza de azúcar más y mezclamos con máquina batidora pero no muy fuerte
<li>Incorporar a la mezcla anterior la crema/nata de a poco y mezclamos
<li>Vertemos la mezcla sobre el molde que estaba en la heladera con nuestro "piso"
<li>Reservamos en la heladera un mínimo de 6 horas
<li>Una vez desmoldada, se espolvorea lo que había sobrado de las galletas trituradas sobre la torta</li>
<br>

<iframe width="500" height="250" src="https://www.youtube.com/embed/pQtFrylIHNg" title="Tarta de Oreo sin Horno" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<a href="https://cookpad.com/ar/recetas/1667949" target="_blank">Leer receta en Cookpad</a>

<br>

<a href="Tortitasamericanas.html">Leer receta de Tortitas americanas</a>

<br>

<a href="../../Index.Html">Volver al inicio</a>
</body>
</html>
