h1,h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
}
p,ul,ol{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }