<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/Style.css">
    <title>Document</title>
</head>
<body>
    <title>Recetario de Lud</title>
<h1>Tortitas americanas</h1>
<img src="https://imag.bonviveur.com/tortitas-americanas-caseras-o-pancakes_1000.webp" alt="Foto de Tortitas americanas" width="500" height="250">
<h2>Lista de ingredientes</h2>
    <ul><li>2 huevos
    <li>1 cdta. De azúcar
        <li>1 cda. De aceite de girasol o de oliva
            <li>200 gr. De harina
                <li>2 cdtas. De polvo de hornear
                    <li>1 taza leche</li>
                    <li>1 cdta. De esencia de vainilla
                        <li>1/2 cdta. De sal</li>
</li></ul>
<h2>Paso a paso de preparación
</h2>
<ol><li>En un bol colocamos los huevos y una cdta. De azúcar y mezclamos, después añadimos esencia de vainilla, la leche y 1 cda. de aceite de girasol o de oliva y mezclamos bien. Luego agregamos la harina, el polvo de hornear y media cdta. De sal mezclamos bien hasta obtener una consistencia homogénea.
    <li>Ponemos una sartén antiadherente al fuego con un chorrito de aceite y con un cucharón ponemos la mezcla a fuego medio para cocinarlo suavemente, cuando veamos burbujas en la superficie y a los costados algo dorado, lo damos vuelta, y así seguimos haciendo hasta terminar la mezcla.
        <li>Una vez hecha todas, la decoramos a gusto, lo hice con chocolate y frutillas, y con miel. Deliciosas, súper esponjosas, exquisitas.</li>
    </li>
<br>
<iframe width="500" height="250" src="https://www.youtube.com/embed/VSJEy39IsVA" title="Tortitas Americanas Fáciles y Esponjosas - Hot Cakes - Pancakes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<a href="https://cookpad.com/ar/buscar/tortitas%20americanas" target="_blank"> Leer esta receta en Cookpad</a>
<br>
<a href="../views/Cheesecakedeoreo.html">Leer receta de Cheesecake de oreo</a>
<br>
<a href="../../Index.Html">Volver al inicio</a>
</body>
</html>